<!--
<script>
    
    function form() {
            document.getElementById("form").innerHTML = `<form action="/userpage" method="POST">
    <div class="form-group"><label for="text1">Name</label><input type="text1" class="form-control" name="groupname">
    </div>
    <div class="form-group"><label for="text2">room id</label><input type="text2" class="form-control" name="roomid">
    </div>
    <div class="form-group"><label for="text3">budget</label><input type="text3" class="form-control" name="budget">
    </div>
    <div class="form-group"><label for="text4">location</label><input type="text4" class="form-control" name="location">
    </div><button type="submit" class="btn btn-dark">create group</button>
</form>`}

    document.getElementById("btn").innerHTML=
    `< button onclick = "form()" > create group</button >`
    
</script>-->
</body>
</html>
